<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add  key="CSV_Path" value="Shared\TodoItems.csv" />

    <add key="FacebookApiUri" value="https://graph.facebook.com/v2.10/" />
    <add key="FacebookAccessToken" value=""></add>

    <!-- https://console.developers.google.com/apis/credentials?project=project-solly -->
    <add key="YoutubeApiKey" value=""></add>
  </appSettings>
</configuration>