<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TodoItems" value="Shared\TodoItems.csv" />
    <add key="Products" value="Shared\IRIProducts.csv" />
    <add key="RetailerProducts" value="Shared\RetailerProducts.csv" />
    <add key="FacebookApiUri" value="https://graph.facebook.com/v5.0/" />
    <add key="FacebookAccessToken" value="secrets.json"></add>

    <!-- https://console.developers.google.com/apis/credentials?project=project-solly -->
    <add key="YoutubeApiKey" value="secrets.json"></add>
  </appSettings>
</configuration>