<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Technologies" value="Shared\technologies.json" />
    <add key="Recipes" value="Shared\recipes.json" />
    <add key="TodoItems" value="Shared\todos.csv" />
    <add key="Products" value="Shared\products.csv" />
    <add key="RetailerProducts" value="Shared\retailer-products.csv" />
    <add key="XmlFile" value="Shared\folders.xml"></add>
    <add key="FacebookApiUri" value="https://graph.facebook.com/v5.0/" />
    <add key="FacebookAccessToken" value="secrets.json"></add>

    <!-- https://console.developers.google.com/apis/credentials?project=project-solly -->
    <add key="YoutubeApiKey" value="secrets.json"></add>
  </appSettings>
</configuration>